$bodyBackgroundColor: #fff;
$bodyColor: #444;


$color1: #003D66;
$color2: #00548C;
$color3: #006BB2;
$color4: #0082D9;
$color5: #0099FF;


$sidebarWidth: 60px;

$primaryColor: $color2;
$secondaryColor: #fbcf00;