$toolbarButtonHeight: 26px;

.Toolbar {
	position: absolute;
	display: block;
	pointer-events: none;

	.ModuleToolbarBorder {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		pointer-events: none;
		outline: 2px solid $primaryColor;
		box-sizing: content-box;
		border-radius: 0px;
	}

	.ModuleToolbarName {
		position: absolute;
		top: 100%;
		left: 0px;
		pointer-events: auto;
		font-size: 10px;
		padding: 2px 4px;
		color: #fff;
		background-color: $primaryColor;

		.module-id {
			display: none;
			padding: 0 0 0 5px;
		}

		&:hover .module-id {
			display: inline;
		}
	}

	.ModuleToolbarPanel {
		background-color: $primaryColor;
		color: #fff;

		pointer-events: auto;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		margin: 0;
		display: flex;
		align-items: stretch;

		height: $toolbarButtonHeight;

		.module-path,
		.module-actions {
			display: flex;
			align-items: stretch;
			padding: 0;
			margin: 0;
			border: 0;
		}

		.module-path {
			background-color: lighten($primaryColor, 15);
		}

		//.module-path-item {}
		//.module-actions

		.module-path-item {
			position: relative;
			display: flex;


			> div {
				display: none;
				background-color: lighten($primaryColor, 15);
				position: absolute;
				top: 100%;
				left: 0;
				padding: 0;
				list-style: none;
				flex-direction: column;

				.ToolbarButton {
					height: $toolbarButtonHeight;
				}
			}

			&:hover {
				> div {
					display: flex;
				}
			}
		}

	}

}

.ToolbarButton {
	padding: 0 5px;
	margin: 0;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	background-color: transparent;

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
