.LayersTree {

	flex: 1 0 auto;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: block;

	}

	li {
		cursor: pointer;
		padding-left: 5px;

		span {
			display: block;
			padding: 2px;
			border-bottom: 1px solid #eee;

			&:hover {
				background-color: transparentize($primaryColor, 0.9);
			}
		}
	}

	.selected {
		outline: 2px solid $primaryColor;
	}

}