.ModuleDragLayer,
.StageModuleDragLayer {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: #fff;
	position: relative;

	> .icon {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 37px;
		font-size: 30px;
		line-height: 1;
	}

	> .title {
		display: block;
		padding: 2px 5px;
		font-size: 8px;
		text-align: center;
		margin-top: auto;
		max-width: 100%;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}