$size: 4px;

.DragAndDropPlaceholder {
	border: 0;
	padding: 0;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
	position: fixed;
	pointer-events: none;
	background-color: rgba(89, 184, 255, 0.25);
	outline: 1px dashed $color2;

	.DnDLine {

		border: 0;
		padding: 0;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
		position: absolute;
		pointer-events: none;
		display: block;
		background-color: $color2;
	}

	.DnDIcon {

		pointer-events: none;
		overflow: hidden;
		display: block;
		position: absolute;
		width: 300px;
		height: 300px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		//outline: 1px solid $color2;
		//opacity: 0.4;

		.icon {

			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			border-radius: 50%;
			background-color: $color2;
			animation: pulse 1s infinite;

			width: 30px;
			height: 30px;
			text-align: center;
			font-size: 8px;
			line-height: 15px;
			color: #fff;

		}
	}

	&.inner.horizontal {
		.DnDIcon {
			transform: translate(-50%, 0);
		}

		&.above .DnDIcon {
			top: 0;
			bottom: initial;

			.icon {
				top: 0;
				bottom: initial;
				transform: translate(-50%, -50%);
			}
		}

		&.below .DnDIcon {
			top: initial;
			bottom: 0;

			.icon {
				top: initial;
				bottom: 0;
				transform: translate(-50%, 50%);
			}
		}

	}

	&.inner.vertical {
		.DnDIcon {
			transform: translate(0, -50%);
		}

		&.before .DnDIcon {
			left: 0;
			right: initial;

			.icon {
				left: 0;
				right: initial;
				transform: translate(-50%, -50%);
			}
		}

		&.after .DnDIcon {
			left: initial;
			right: 0;

			.icon {
				left: initial;
				right: 0;
				transform: translate(50%, -50%);
			}
		}
	}


	&.outer.horizontal {
		.DnDIcon {
			transform: translate(-50%, 0);
		}

		&.above .DnDIcon {
			top: initial;
			bottom: 100%;

			.icon {
				top: initial;
				bottom: 0;
				transform: translate(-50%, 50%);
			}
		}

		&.below .DnDIcon {
			top: 100%;
			bottom: initial;

			.icon {
				top: 0;
				bottom: initial;
				transform: translate(-50%, -50%);
			}
		}

	}

	&.outer.vertical {
		.DnDIcon {
			transform: translate(0, -50%);
		}

		&.before .DnDIcon {
			left: initial;
			right: 100%;

			.icon {
				left: 100%;
				right: initial;
				transform: translate(-50%, -50%);
			}
		}

		&.after .DnDIcon {
			left: 100%;
			right: initial;

			.icon {
				left: initial;
				right: 100%;
				transform: translate(50%, -50%);
			}
		}
	}


	&.horizontal .DnDLine {
		height: $size;
		width: 100%;

		span {
			left: 50%;
		}
	}

	&.vertical .DnDLine {
		width: $size;
		height: 100%;

		span {
			top: 50%;
		}
	}

	&.middle .DnDLine {
		height: $size;
		width: 100%;
		top: 50%;
		margin-top: -2px;

		span {
			left: 50%;
		}
	}

	&.center .DnDLine {
		width: $size;
		height: 100%;
		left: 50%;
		margin-left: -2px;

		span {
			top: 50%;
		}
	}

	&.above .DnDLine {
		top: 0;
		transform: translateY(-$size/2);
	}

	&.below .DnDLine {
		top: 100%;
		transform: translateY(-$size/2);
	}

	&.before .DnDLine {
		left: 0;
		transform: translateX(-$size/2);
	}

	&.after .DnDLine {
		left: 100%;
		transform: translateX(-$size/2);
	}

	&.disallowed {
		background-color: rgba(255, 0, 0, 0.35);
		outline: 1px dashed red;
	}

	&.disallowed .DnDLine {
		background-color: red;

		&:before {
			background-color: red;
		}
	}

	&.disallowed .DnDIcon {
		display: none;
	}


	/*&.inner .DnDLine {
		span {
			opacity: 0;
		}
	}

	&.outer .DnDLine {
		span {
			opacity: 1;
		}
	}
*/
}


.pulse-animation {
	//display: block;
	//width: 20px;
	//height: 20px;
	//border-radius: 50%;
	//background: $color2;

}

.pulse-animation:hover {
	animation: none;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(89, 184, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 30px rgba(89, 184, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(89, 184, 255, 0);
	}
}