.DropPlaceholder {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.025);

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 30px;
		color: rgba(0,0,0,0.15);
	}
}