.ModulesList {
	display: block;
	padding: 15px;


	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}


}

.ModulesListItem {
	display: flex;
	flex: 1 0 auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	border-radius: 100px;
	cursor: grab;
	user-select: none;
	font-size: 14px;
	background-color: $color2;
	color: #fff;
	padding: 5px 10px;
	margin-bottom: 5px;

	&:hover {
		background-color: lighten(#1A8BB2, 10);
	}

	.icon {
		font-size: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		margin-right: 10px;
	}
}