.ModulesPopup {
	width: 300px;
	position: fixed;
	left: 50%;
	top: 100px;
	margin-left: -150px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 10px;
	background-color: #fff;
}