.ModuleConfigurator {

	position: relative;
	display: flex;
	flex-direction: column;
	width: 300px;

	&.empty {

		opacity: 0.6;
		justify-content: center;
		align-items: center;

		.icon {
			font-size: 36px;
		}
	}

	.configurator-actions {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}

}