.Outlines {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.Outline {
	position: absolute;
	outline: 1px dashed #6b7880;

	> span {
		position: absolute;
		top: 100%;
		font-size: 10px;
		padding: 2px 4px;
		color: #fff;
		background-color: #6b7880;
	}
}