.Stage {

	display: block;
	box-sizing: border-box;

	&.empty {
		padding: 15px;
		font-size: 24px;
		font-weight: bold;
		color: #e6e6e6;
		text-align: center;
		border: 2px dashed #dadada;
		display: flex;
		align-items: center;
		justify-content: center;
		user-select: none;
		cursor: default;
	}

}