.UISidebar {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 100vh;
	max-height: 100vh;
	//position: fixed;
	//right: 0;
	z-index: 1000;
}

.UISidebarMenu {
	display: flex;
	flex-direction: column;
	background-color: $color2;
	color: #fff;
	max-width: $sidebarWidth;
	width: $sidebarWidth;
	flex: 0 0 $sidebarWidth;

	.section {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid rgba(255, 255, 255, .1)
	}


}

.UISidebarMenuButton {

	cursor: pointer;
	font-size: 22px;
	border: 0;
	background-color: transparent;
	color: #fff;
	padding: 15px;
	margin: 0;

	&.active,
	&:hover {
		background-color: $color3;
	}

	&:focus {
		border: 0;
		outline: 0;
	}

	&.disabled,
	&:disabled {
		opacity: 0.2;
		cursor: not-allowed;
	}

	&.button-debug {
		margin-top: auto;
	}

}

.UISidebarContent {
	display: flex;
	flex-direction: row;
	flex: 0 0 300px;
	right: 100%;
	width: 300px;
	height: 100%;
	background-color: #f7f7f7;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}