.AppSplash {

	text-align: center;
	align-self: center;
	margin: 0 auto;

	.Icon {
		font-size: 100px;
	}

	h1 {
		display: block;
		margin: 0;
	}

	small {
		display: block;
		text-transform: lowercase;
		font-size: 50%;
		color: lighten($bodyColor, 50);
		margin-top: 15px;
	}
}