.App {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 100vh;
}

.AppUI {
	display: flex;
	width: 100%;
	max-width: 100%;

	.StageContainer {

	}

	.UISidebar {
		flex: 0 0 auto;
	}
}